
div{
	
	background-color:#800000;
	margin-left: 30%;
	margin-right: 30%;
	border-radius: 5px;
	padding: 30px;
	margin-top: -34.5%;
	
}
input{
height: 50px;
width: 80%;
border-radius: 3px;
 letter-spacing: 4px;
}
::-webkit-input-placeholder { 
  font-size: 20px;
  letter-spacing: 4px;
  
  
}

h3{
	
margin-top: 0%;
margin-left: 1%;
font-size: 20px;
color: white;
font-family:Verdana, Geneva, sans-serif;
font-style: bold;
letter-spacing: 3px;
word-spacing: 5px;
}
p{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
font-size: 15px;
margin-top: -2%;
color: white;
letter-spacing: 4px;
 
}

#submit{
	
color:white;
background-color: #e60000;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
font-size: 20px;
letter-spacing: 4px;
}
#submit:hover{
	
color:white;
background-color:  #800000;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
font-size: 20px;
letter-spacing: 4px;
cursor: pointer;
}